<h2><%= @organisation.name %></h2>
<h3>Shifts</h3>
<table>
  <tbody>
    <tr>
      <th>Employee Name</th>
      <th>Start Time</th>
      <th>Finish Time</th>
      <th>Break Length (minutes)</th>
      <th>Hours Worked</th>
      <th>Shift Cost</th>
    </tr>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.user.full_name %></td>
        <td><%= shift.start.strftime("%d/%m/%Y %I:%M%P") %></td>
        <td><%= shift.finish.strftime("%d/%m/%Y %I:%M%P") %></td>
        <td><%= shift.break %></td>
        <% @hours = (shift.finish - shift.start - (shift.break * 60)) / 3600 %>
        <td><%= @hours %></td>
        <td><%= @hours * @organisation.hourly_rate %></td>
      </tr>
    <% end %>
    <tr>
      <%= form_for @shift do |f| %>
      <td><%= current_user.full_name %></td>
      <td><%= f.datetime_local_field :start %></td>
      <td><%= f.datetime_local_field :finish %></td>
      <td><%= f.number_field :break, step: 1 %></td>
      <td colspan="2"><%= f.submit %></td>
      <% end %>
    </tr>
  </tbody>
</table>